<!DOCTYPE html>
<html>
<head>
  <title>River Rat</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <!-- Custom Google Web Font -->
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700,900,300italic,100,400italic' rel='stylesheet' type='text/css'>
  <%= favicon_link_tag %>
  <%= csrf_meta_tags %>
</head>
<body>
    <%= render "layouts/header" %>
    <%= render "layouts/messages" %>
  <%= yield %>

</body>
</html>
